<link rel="stylesheet" href="../../../assets/css/main.css">
<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="#">Iot Lab</a>
            </div>
        </div>

        <div class="row header-info">
            <div class="col-sm-12 text-center">
                <h1 class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;"><i class="fa fa-flask" aria-hidden="true"></i> IOT Lab</h1>
                <br>
                <p class="lead wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">Lorem ipsum dolor sit amet, consectetur adipis. <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit sit dol mi arlna.</p>
                <br>

                <div class="row">
                    <div class="col-md-12 text-center">

                        <a href="#be-the-first" class="btn btn-secondary btn-lg scroll">Learn More</a>
                        <a [routerLink]="['/dashboard']" class="btn btn-primary btn-lg scroll">Login</a>
                        <!--End Button Row-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>