<h1 md-dialog-title>{{data.titulo}}</h1>

<div md-dialog-content>
    {{data.msj}}
</div>

<div md-dialog-actions>
    <button md-button color="primary" (click)="goToHub()">
    Crear Hub
  </button>
    <button md-button (click)="confirmSelection()">
    Close
  </button>
</div>