<div class="row">
    <div class="col-lg-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" [src]="profile.picture" alt="Card image cap">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Email:<strong> {{profile.email}}</strong></li>
                <li class="list-group-item">Name:<strong> {{profile.nickname}}</strong></li>
                <li class="list-group-item">ID:<strong>{{profile.sub}}</strong></li>
            </ul>
        </div>
    </div>
</div>