<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#"><i class="fa fa-flask" aria-hidden="true"></i> IOT Lab</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['main']">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">
                        Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['devices']">
                    <i class="fa fa-microchip" aria-hidden="true"></i>
                    <span class="nav-link-text">
                Dispositivos</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['hubs']">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                    <span class="nav-link-text">
                    Hubs</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">Alerts
                <span class="badge badge-pill badge-warning">6 New</span>
                    </span>
                    <span class="new-indicator text-warning d-none d-lg-block">
                <i class="fa fa-fw fa-circle"></i>
                <span class="number">6</span>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">New Alerts:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <span class="text-success">
                  <strong>
                    <i class="fa fa-long-arrow-up"></i>
                    Status Update</strong>
                </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <span class="text-danger">
                  <strong>
                    <i class="fa fa-long-arrow-down"></i>
                    Status Update</strong>
                </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <span class="text-success">
                  <strong>
                    <i class="fa fa-long-arrow-up"></i>
                    Status Update</strong>
                </span>
                        <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" href="#">
                View all alerts
              </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu user-menu" aria-labelledby="userDropdown">

                    <span class="user-img"><img [src]="auth0Profile.picture" /></span>
                    <span class="user-name">{{auth0Profile.nickname}}<br/>
                            <a class="" [routerLink]="['profile']">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    <span class="nav-link-text">Mi Perfil</span>
                    </a>
                    </span>

                    <strong class="user-email">{{auth0Profile.email}}</strong>
                    <button *ngIf="auth.isAuthenticated()" class="btn btn-info btn-block" (click)="logout()"><i class="fa fa-fw fa-sign-out"></i> Salir</button>
                </div>
            </li>
        </ul>
    </div>
</nav>