/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.main-container {
    margin-top: 70px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.user-menu {
    left: -150px;
    padding: 14px;
}

.user-img img {
    width: 100%;
}

.user-img {
    width: 20%;
    display: inline-block;
    width: 20%;
    vertical-align: text-bottom;
}

.user-name {
    padding-left: 12px;
    display: inline-block;
}

.user-email {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}